:root {
    --green-blue: #2364aaff;
    --carolina-blue: #3da5d9ff;
    --green-sheen: #73bfb8ff;
    --mikado-yellow: #fec601ff;
    --princeton-orange: #ea7317ff;

    --background-color: var(--carolina-blue);
    --foreground-color: white;
    --header-color: var(--green-blue);
    --border-color: var(--green-blue);
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--foreground-color);
}
#root {
    height: 100%;
    width: 100%;
}
.test-bg {
    background-color: fuchsia;
}
.nav-bar-header {
    width: 100%;
    height: 80px;
    background-color: var(--header-color);
    text-align: center;
}
.nav-button {
    position: relative;
    font-size: 80px;
    height: 100%;
    cursor: pointer;
    z-index: 1000;
}
.nav-button-left {
    left: -360px;
}
.nav-button-right {
    left: 360px;
}
.nav-button img {
    height: 100%;
}

.nav-bar-title {
    position: fixed;
    font-size: 40px;
    width: 100%;
    left: 0px;
    margin-top: 20px;;
}

.kids-job-table {
    width: 100%;
}

.kids-job-table th {
    font-size: 34px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.kids-job-table td {
    font-size: 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

/* .kids-job-table ul {
    list-style: none;
} */

.kids-job-table li {
    margin-top: 5px;
}
