:root {
    --green-blue: #2364aaff;
    --carolina-blue: #3da5d9ff;
    --green-sheen: #73bfb8ff;
    --mikado-yellow: #fec601ff;
    --princeton-orange: #ea7317ff;

    --background-color: var(--carolina-blue);
    --foreground-color: white;
    --header-color: var(--green-blue);
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--foreground-color);
}
#root {
    height: 100%;
    width: 100%;
}
.nav-bar-header {
    width: 100%;
    height: 80px;
    background-color: var(--header-color);
    text-align: center;
}
.nav-button {
    position: relative;
    font-size: 80px;
}
.nav-button-left {
    left: -310px;
}
.nav-button-right {
    left: 310px;
}
.nav-bar-title {
    position: fixed;
    font-size: 40px;
    width: 100%;
    left: 0px;
    margin-top: 20px;;
}